.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    background: #e2e2e2;
    border: 0;
    height: 3px;
}

.cartitems-format-main{
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    color: #454545;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-prod-icon{
    height: 62px;
}

.rmv-icon{
    margin: 0px 40px;
    width: 15px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    background: white;
    height: 50px;
    border: 2px solid #ebebeb;
}

.cartItems-down{
    display: flex;
    margin: 100px 0px;    
}
.total{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    margin-right: 200px;
}

.total-item{
    display: flex;
    padding: 15px 0px;
    justify-content: space-between; 
}

.total button{
    width: 262px;
    height: 58px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    background: #ff5a5a;
}

.promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.promocode p{
    color: #555;
}

.promobox{
    background: #eaeaea;
    width: 504px;
    padding-left: 20px;
    height: 58px;
    margin-top: 15px;
}
.promobox input{
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 330px;
    background: transparent;
}

.promobox button{
    font-size: 16px;
    height: 58px;
    background: black;
    color: white;
    cursor: pointer;
    width: 170px;
}