.hero{
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    height: 100vh;
}

.hero-left{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    line-height: 1.1;
    gap: 20px;
    padding-left: 180px;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    font-weight: 700;
    font-size: 100px;
    color: #171717;
}
.hero-hand-icon{
    align-items: center;
    display: flex;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 310px;
    gap: 15px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    color: white;
    background: #ff4141;
    font-weight: 500;
    font-size: 22px;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}