.loginsignup{
    width: 100%;
    height: 80vh;
    padding-top: 100px;
    background: #fce3fe;
}

.loginsignup-container{
    height: 600px;
    width: 580px;
    padding: 40px 60px;
    margin: auto;
    background: white;
}

.loginsignup-container h1{
    margin: 20px 0px;
}

.fields{
    gap: 29px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.fields input{
    width: 100%;
    height: 72px;
    outline: none;
    padding-left: 20px;
    font-size: 18px;
    color: #5c5c5c;
    border: 1px solid #c9c9c9;
}

.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    margin-top: 30px;
    border: none;
    background: #ff4141;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.login span {
    color: #ff4141;
    font-weight: 600;
}

/* .loginsignup-agree{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
} */