.category-banner{
    margin: 30px auto;
    width: 82%;
    display: block;
}

.category-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.category-sort{
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 40px;
}
.category-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    row-gap: 80px;
    margin: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 233px;
    height: 69px;
    margin: 150px auto;
    border-radius: 75px;
    color: #787878;
    background: #ededed;
    font-size: 18px;
    font-weight: 500;
}