.descriptionBox{
    margin: 120px 170px;
}

.descriptionBox-navigator{
    display: flex;
}

.descriptionBox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    width: 171px;
    height: 70px;
}

.descriptionBox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}

.descriptionBox-description{
    gap: 25px;
    display: flex;
    padding-bottom: 70px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    flex-direction: column;
}