.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    height: 3px;
    width: 80%;
    background: #FF4141;
    border-radius: 10px;
}



.nav-login-cart{
    align-items: center;
    display: flex;
    gap: 45px;
}
.nav-login-cart button {
    height: 58px;
    width: 157px;
    border: 1px solid #7a7a7a;
    outline: none;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font: bold;
    background: #87CEEB;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    display: flex;
    width: 22px;
    height: 22px;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left: -55px;
    font-size: 14px;
    border-radius: 11px;
    background: red;
    color: white;
}