.newcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.newcol h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.newcol hr {
    height: 6px;
    width: 200px;
    background: #252525;
    border-radius: 10px;
}

.collections{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
