.footer{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-logo{
    gap: 20px;
    display: flex;
    align-items: center;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    color: #252525;
}
.footer-links li{
    cursor: pointer;
}

.footer-social{
    display: flex;
    gap: 20px;
}
.footer-icon{
    padding: 10px;
    padding-bottom: 6px;
    border: 1px solid #ebebeb;
    background: #fbfbfb;
}

.footer-copyright{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    color: #1a1a1a;
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
}
.footer-copyright hr{
    background: #c7c7c7;
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
}