.related-products{
    display: flex;
    align-items: center;
    height: 90vh;
    gap: 10px;
    flex-direction: column;
}

.related-products h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.related-products hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.related-products-item{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
