.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    height: 6px;
    width: 200px;
    background: #252525;
    border-radius: 10px;
}

.popular-item{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
