.product-display{
    display: flex;
    margin: 0px 170px;
}

.product-display-left{
    gap: 17px;
    display: flex;
}

.display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display-img-list img{
    height: 163px;
}
.product-display-main-img{
    height: 700px;
    width: 586px;
}

.product-display-right{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}

.product-display-right h1{
    font-size: 40px;
    font-weight: 700;
    color: #3d3d3d;
}

.product-display-right-star{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin-top: 13px;
    color: #1c1c1c;
}

.right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.old-price{
    text-decoration: line-through;
    color: #818181;
}

.new-price{
    color: #ff4141;
}

.right-size{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;    
}

.size-list{
    margin: 30px 0px;
    display: flex;
    gap: 20px;
}

.size-list div{
    padding: 18px 24px;
    background: #fbfbfb;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.product-display-right button{
    padding: 20px 40px;
    width: 200px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40x;
    outline: none;
}